<div class="modal-content">
  <span class="close-button" data-dismiss="modal"><i class="fa fa-times" aria-hidden="true"></i></span>
  <!-- Modal body -->
  <div class="modal-body p-0">
    <div class="col-12 col-sm-12 col-md-12">
      <div class="row">
        <div class="col-sm-6 col-md-6 d-none d-md-block d-lg-block sidebar">

        </div>
        <div class="col-12 col-sm-6 col-md-6">
          <p class="text-uppercase text-center p-10 m-0"> sign in</p>
          <p class="text-uppercase text-center p-1 m-0"> NOT REGISTERED? <span class="cursor-pointer hyperlink"
              (click)="onSignUp()">SIGN UP</span></p>
          <div class="alert alert-danger" *ngIf="showError" role="alert">
            Please provide registered user details.
          </div>
          <div class="col-md-12 col-12 col-sm-12 margin-auto text-left p-20">
            <form name="form" (ngSubmit)="onLoginIn()" #f="ngForm" novalidate>
              <div class="form-group">
                <label for="email"><span class="error">*</span>Email:</label>
                <input type="text" class="form-control custom-input" [(ngModel)]="params['email']" name="username"
                  #username="ngModel" required>
                <div *ngIf="f.submitted && username.invalid" class="invalid-feedback">
                  <div *ngIf="username.errors['required']" class="error">Email is required</div>
                </div>
              </div>
              <div class="form-group">
                <label for="password"><span class="error">*</span>Password:</label>
                <input type="password" class="form-control custom-input" [(ngModel)]="params['password']"
                  name="password" #password="ngModel" required>
                <div *ngIf="f.submitted && password.invalid" class="invalid-feedback">
                  <div *ngIf="password.errors['required']" class="error">Password is required</div>
                </div>
              </div>
              <!-- <div class="form-group">
                <div class="row">
                  <div class="col-6 col-md-6 col-sm-6"></div>
                  <div class="col-6 col-md-6 col-sm-6 text-right hyperlink">Forgot Password?</div>
                </div>
              </div> -->

              <button type="submit" class="btn w-100 text-uppercase black-theme color-white"
                [disabled]="!f.form.valid">signin</button>
              <div class="row col-12 col-md-12 col-sm-12 f-s-12 p-t-10">
                <span class="error">*</span>We do not share your personal details with anyone
              </div>

            </form>
          </div>
        </div>
      </div>
    </div>
  </div>



</div>