<div class="col-12 col-md-12 col-sm-12 green-theme">
    <div class="row">
        <ul class="footer-menu margin-auto p-20">
            <li>
                <a [routerLink]="'about-us'" class="footer-menu-text">
                    <span class="p-r-10">About Us</span>
                </a>
            </li>
            <li>
                <a [routerLink]="'contact-us'" class="footer-menu-text">
                    <span class="p-r-10">Contact Us</span>
                </a>
            </li>
            <li>
                <a [routerLink]="'privacy-policy'" class="footer-menu-text">
                    <span class="p-r-10">Privacy Policy</span>
                </a>
            </li>
            <li>
                <a [routerLink]="'terms-conditions'" class="footer-menu-text">
                    <span class="p-r-10">Terms & Conditions</span></a>
            </li>
            <li>
                <a [routerLink]="'return-policy'" class="footer-menu-text"><span class="p-r-10">Return Policy</span></a>
            </li>
            <li>
                <a [routerLink]="'faq'" class="footer-menu-text"><span class="p-r-10">FAQ</span></a>
            </li>
        </ul>
    </div>
    <div class="col-12 d-block d-sm-none text-center">
        <i class="fa fa-facebook color-white cursor-pointer" aria-hidden="true"></i>
        <i class="fa fa-instagram p-l-10 color-white cursor-pointer" aria-hidden="true"></i>
    </div>
</div>