/* You can add global styles to this file, and also import other style files */
.p-20 {
  padding:20px;
}
.p-10 {
  padding:10px;
}
.p-l-5 {
  padding-left: 5px;
}

.p-l-10 {
  padding-left: 10px;
}
.p-l-20 {
  padding-left: 20px;
}
.p-t-5 {
  padding-top: 5px;
}

.p-t-10 {
  padding-top: 10px;
}

.p-t-15 {
  padding-top: 15px;
}

.p-t-20 {
  padding-top: 20px;
}
.p-r-5 {
  padding-right: 5px;
}

.p-r-10 {
  padding-right: 10px;
}
.p-r-20 {
  padding-right: 20px;
}

.p-b-20 {
  padding-bottom: 20px;
}

.m-l-5 {
  margin-left: 5px;
}

.m-t-10 {
  margin-top: 10px;
}
.m-b-10 {
  margin-bottom: 10px;
}

.green-theme {
  background: #109B48;
}

.cursor-pointer {
  cursor: pointer;
}

.color-white {
  color: white;
}

.text-uppercase {
  text-transform: uppercase;
}

.text-underline {
  text-decoration: underline; 
}

.black-theme {
  background: #333;
}

.white-theme {
  background: #fff;
}

.p-0 {
  padding:0px;
}

.p-20 {
  padding:20px
}

.margin-auto {
  margin: auto
}

.font-bold {
  font-weight: bold;
}

.error {
  color:red;
  font-weight: bold
}

.f-s-12 {
  font-size: 12px;
}

.color-white {
  color: white
}

.color-green-theme {
  color: #109B48;
}

.hyperlink {
  text-decoration: underline;
  color: #109B48;
}

.justify-content-center {
  justify-content: center;
}

.justify-content-right {
  justify-content: right;
}

.btn:hover {
  color: white;
}

.btn.disabled, .btn:disabled {
  cursor: not-allowed;
}

.resize-none {
  resize: none;
}

.color-grey {
  color: grey;
}




body {
  font-family: 'Merriweather Sans', sans-serif;
}
.font-rancho {
  font-family: 'Rancho', cursive;
}
.text-orange {
  color: #FF4500;
}
.bg-orange {
  background-color: #FF4500 !important;
}
.bg-black {
  background-color: #242321  !important;
}
h1 {
  font-size: 90px;
}
.text-60 {
  font-size: 60px;
}
.navbar {
  background-color: transparent;
  position: absolute;
  z-index: 999;
  width: 100%;
  left: 0;
  right: 0;
 }
 .btn-primary {
     background: #FFD700;
     border-color: #FFD700;
     border-radius: 30px;
     min-width: 223px;
     padding: .9375rem 1.875rem;
     box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
 }
 .btn-primary:hover,.btn-primary:focus,.btn-primary:active,.btn-primary:not(:disabled):not(.disabled):active {
     background-color: #FF4500;
     border-color: #FF4500;
     box-shadow: none;
     outline: 0;
 }
.banner {
  background-image: url('./assets/img/banner.jpg');
  background-size: cover;
  padding: 180px 15px;
  background-attachment: fixed;
}
.banner:before {
  content: '';
  position: absolute;
  background-color: #ff45008c;
  width: 100%;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}
.dash-line {
  font-weight: 500;
  font-size: 20px;
  color: #FFD700;
  position: relative;
  text-transform: uppercase;
  display: inline-block;
  line-height: 1;
}
.dash-line:before {
  content: '';
  position: absolute;
  width: 3px;
  height: 3px;
  border-radius: 50%;
  background-color: #FFD700;
  top: 50%;
  margin-top: -1px;
  left: -65px;
}
.dash-line:after {
  content: '';
  position: absolute;
  width: 3px;
  height: 3px;
  border-radius: 50%;
  background-color: #FFD700;
  top: 50%;
  margin-top: -1px;
  right: -65px;
}
.dash-line span:before,.dash-line span:after {
  content: '';
  position: absolute;
  width: 50px;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #FFD700;
  top: 50%;
  margin-top: 0;
}
.dash-line span:before {
  left: -65px;
}
.dash-line span:after {
  right: -65px;
}
.nav-tabs {
  border: 0px;
}
.nav-tabs .nav-link {
  background: #fff;
  height: 100px;
  border-radius: 50%;
  width: 100px;
  align-items: center;
  justify-content: center;
  display: flex;
  color: #000;
  border: 1px solid #ddd;
}
.nav-tabs .nav-link:hover {
  box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
}
.nav-tabs .nav-link.active{
  background: #FFD700;
  border: 1px solid #FFD700;
  height: 100px;
  border-radius: 50%;
  width: 100px;
  align-items: center;
  justify-content: center;
  display: flex;
  color: #fff;
  box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
}
.footer-bg {
  background-color: #FF4500;
}
.footer-bg a:hover{
 text-decoration: none;
}
.bike {
  right: -90px;
  top: -182px;
}
@media (max-width: 767px) {
  h1 {
      font-size: 60px;
  }
  .bike {
      right: 0;
  }
  .navbar-collapse {
      background-color: #FF4500;
      border-color: #FF4500;
      padding: 5px 10px;
  }
  .navbar-toggler {
      border-color:#fff !important;
  }
}
@media (min-width: 768px) and (max-width:1324px) { 
  .bike {
      right: 0;
      top: -189px;
  }
}