<!doctype html>
<html lang="en">

<body class="bg-black">
    <section class="position-relative">
        <nav class="navbar navbar-expand-md navbar-light bg-orange py-4">
            <div class="container">
                <a class="navbar-brand" href="">
                    <h3 class="font-rancho text-white">Shakes Company</h3>
                </a>
                <button class="navbar-toggler" type="button" data-toggle="collapse"
                    data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false"
                    aria-label="Toggle navigation">
                    <i class="fas fa-bars text-white"></i>
                </button>

                <div class="collapse navbar-collapse" id="navbarSupportedContent">
                    <ul class="navbar-nav ml-auto">
                        <li class="nav-item active pr-md-4">
                            <a class="nav-link text-white text-uppercase" href="#home">Home <span
                                    class="sr-only">(current)</span></a>
                        </li>
                        <li class="nav-item pr-md-4">
                            <a class="nav-link text-white text-uppercase" href="#story">Story</a>
                        </li>
                        <li class="nav-item pr-md-4">
                            <a class="nav-link text-white text-uppercase" href="#menu">Menu</a>
                        </li>
                        <li class="nav-item pr-md-4">
                            <a class="nav-link text-white text-uppercase" href="#testimonials">Testimonials</a>
                        </li>
                        <li class="nav-item pr-md-4">
                            <a class="nav-link text-white text-uppercase" href="#contact">Contact</a>
                        </li>
                    </ul>
                </div>
            </div>
        </nav>
    </section>
    <section class="pt-5">
        <div class="container pt-5">
            <div class="row">
                <div class="col-md-12">
                        <img src="../../assets/img/menu.jpg" class="img-fluid" alt="Menu Card">
                </div>
            </div>
        </div>
    </section>
    <footer class="footer-bg py-4" id="contact">
        <div class="container position-relative">
            <div class="row">
                <div class="col-md-8">
                        <a href="" class="text-decoration-none"><h3 class="font-rancho text-white">Shakes Company</h3></a>
                    <p class="text-white">© 2018 Shakes Company. All rights reserved</p>
                </div>
                <div class="col-md-4">
                    <p class="text-white">Home Delivery Available</p>
                    <ul class="list-inline">
                        <li class="list-inline-item mr-3"><a href="#"><i class="fab fa-facebook text-white"></i></a>
                        </li>
                        <li class="list-inline-item mr-3"><a href="#"><i class="fab fa-instagram text-white"></i></a>
                        </li>
                        <li class="list-inline-item mr-3"><a href="#"><i class="fab fa-whatsapp text-white"></i></a>
                        </li>
                        <li class="list-inline-item text-white"><i class="fas fa-phone-volume text-white fa-fw"></i>044
                            48608919</li>
                    </ul>
                </div>
            </div>
            <div class="position-absolute bike">
                <img src="../../assets/img/scooter.png" class="img-fluid" alt="Responsive image">
            </div>
        </div>
    </footer>
    
</body>

</html>